<h1>{{ user$.name }}</h1>

<ul>
  <li>
    <strong>Username:</strong> {{ user$.username }}</li>
  <li>
    <strong>Email:</strong> {{ user$.email }}</li>
  <li>
    <strong>Phone:</strong> {{ user$.phone }}</li>
  <li>
    <strong>Albums</strong>
    <div class="albums">
      <app-album *ngFor="let album of userAlbums$" [album]="album"></app-album>
    </div>
  </li>
  <li>
    <strong>Posts</strong>
    <ul>
      <li *ngFor="let post of userPosts$">
        <app-post *ngFor="let post of userPosts$" [post]="post"></app-post>
      </li>
    </ul>
  </li>
  <li>
    <strong>Todos</strong>
    <ul>
      <li *ngFor="let todo of userTodos$">
        <app-todo *ngFor="let todo of userTodos$" [todo]="todo"></app-todo>
      </li>
    </ul>
  </li>
</ul>