<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="albums" [class.activated]="currentUrl == '/albums'">
        <i class="material-icons">collections</i>
      </a>
    </li>
    <li>
      <a routerLink="todos" [class.activated]="currentUrl == '/todos'">
        <i class="material-icons">done</i>
      </a>
    </li>
    <li>
      <a routerLink="new" [class.activated]="currentUrl == '/new'">
        <i class="material-icons">add_circle</i>
      </a>
    </li>
  </ul>
</nav>